*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);

}